{% example 'Carousel mit einem Element' %}
  <wm-carousel single="350" style="--shadow-offset: 0">
    <img src="/images/pattern/cards/parkpickerl-prater.jpg" width="350" height="197" alt="a">
    <img data-src="/images/pattern/cards/jelinek.jpg" width="350" height="197" alt="b">
    <img data-src="/images/pattern/cards/sport-und-fun-halle-prater.jpg" width="350" height="197">
    <img data-src="/images/pattern/cards/disco-volante.jpg" width="350" height="197">
    <img data-src="/images/pattern/cards/ehk-urbaner-platz.webp" width="350" height="197">
    <img data-src="/images/pattern/cards/ehk-schulbau-langobardenstrasse.webp" width="350" height="197">
    <img data-src="/images/pattern/cards/ehk-sued-skizze.webp" width="350" height="197">
  </wm-carousel>
{% endexample %}
