{% example 'Einfaches Icon' %}
  <wm-icon iconid="pin"></wm-icon>
{% endexample %}

{% example 'Icon mit Bezeichnung' %}
  <wm-icon iconid="clock">Uhrzeit</wm-icon>
{% endexample %}

{% example 'Icon mit benutzerdefinierter Größe' %}
  <wm-icon iconid="wien-bot" width="128"></wm-icon>
{% endexample %}

{% example 'Icon mit benutzerdefinierter Breite und Höhe' %}
  <wm-icon iconid="euro" width="128" height="62"></wm-icon>
{% endexample %}