---
title: Grid
layout: pattern.njk
tags:
- patterns
token: 'grid'
date: 2023-01-01
demo_options:
  - type: select
    label: Abstand
    key: gap
    attribute: gap
    options:
      - label: XS
        value: xs
      - label: S
        value: s
      - label: M
        value: m
        default: true
      - label: L
        value: l
  - type: select
    label: Größe
    key: size
    attribute: size
    options:
      - label: S
        value: s
      - label: M
        value: m
        default: true
      - label: L
        value: l
      - label: Voll
        value: full
generator: true
---