{% example 'Überschrit mit bestehender id' %}
<wm-anchor id="meineid">
  <h3>Aktuelle Meldungen</h3>
</wm-anchor>
{% endexample %}

{% example 'Überschrit mit bestehender id auf Überschrift' %}
<wm-anchor>
  <h3 id="customid">Aktuelle Meldungen</h3>
</wm-anchor>
{% endexample %}

{% example 'Selbe Überschrift mehrmals' %}
<wm-anchor>
  <h3>Weitere Informationen</h3>
</wm-anchor>
<wm-anchor>
  <h3>Weitere Informationen</h3>
</wm-anchor>
{% endexample %}

{% example 'Überschrift mit anderem Icon' %}
<wm-anchor icon="embed">
  <h3>Weitere Informationen</h3>
</wm-anchor>
{% endexample %}