.main-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.toggle-class {
	position: absolute;
	right: 2rem;
	top: 0.5rem;
	width: 26px;
	height: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: transparent;
	border: 5px solid transparent;
	border-radius: 50%;
	transition: all 0.3s ease;
	.burger,
	.burger::before,
	.burger::after {
		content: "";
		position: absolute;
		height: 2px;
		width: 100%;
		background: #555;
		transition: all 0.3s ease;
	}

	.burger {
		background: transparent;
	}
	.burger::before {
		transform: translateY(0) rotate(45deg);
	}
	.burger::after {
		transform: translateY(0) rotate(-45deg);
	}
}
.parts-container {
	position: relative;
	width: 360px;
	height: 100%;
	background: #fff;
	display: flex;
	flex-direction: column;
	transition: width 0.3s ease;
}
.parts-container.minimized {
	width: 0px;
	.toggle-class {
		transform: translateX(4.5rem);
		background: rgb(192, 246, 246);
		border: 8px solid rgb(192, 246, 246);
		z-index: 10;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		transform-origin: center;
	}
	.toggle-class:hover .burger {
		scale: 1.2;
	}
	.burger::before {
		transform: translateY(-3px);
	}

	.burger::after {
		transform: translateY(3px);
	}
	.parts-container__body {
		display: none;
	}
}
.build-container {
	background: #fff;
	flex-grow: 1;
	height: 100%;
}

.settings-container {
	width: 240px;
	background: lightgrey;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.parts-container__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2px;
	height: 30px;
}
.parts-container__header__search {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 40px;
}

.parts-container__body {
	padding: 0.4rem 1rem 1rem;
	flex-grow: 1;
	overflow-y: scroll;
	margin: 0.5rem 0;
}

.parts-section {
	margin-bottom: 1rem;
}
.parts-section__body {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0.7rem;
	/* margin: 0.5rem 0; */
}
.sortable-ghost {
	height: 200px;
	/* width: 200px; */
	border: 5px dashed #000;
}
.can-drop {
	border-color: rgb(116, 221, 154);
}

.cannot-drop {
	border-color: rgb(228, 119, 97);
}
