{% example 'Zwei Spalten' %}
  <wm-quicklinks cols="2">
    <ul>
        <li>
          <wm-cta full="true">
            <a href="#" contenteditable>
              Aktuelle Kennzahlen (20. November 2022)
            </a>
          </wm-cta>
        </li>
        <li>
          <wm-cta full="true">
            <a href="#" contenteditable>
              Tests in Schnupfen-Checkboxen (27. September 2022)
            </a>
          </wm-cta>
        </li>
        <li>
          <wm-cta full="true" contenteditable>
            <a href="#">
              Mit größtmöglicher Sicherheit in den Schulstart (3. September 2022)
            </a>
          </wm-cta>
        </li>
    </ul>
  </wm-quicklinks>
{% endexample %}

{% example 'in section' %}
<wm-section highlight="true">
  <wm-quicklinks cols="2">
    <ul>
        <li>
          <wm-cta full="true">
            <a href="#" contenteditable>
              Aktuelle Kennzahlen (20. November 2022)
            </a>
          </wm-cta>
        </li>
        <li>
          <wm-cta full="true">
            <a href="#" contenteditable>
              Tests in Schnupfen-Checkboxen (27. September 2022)
            </a>
          </wm-cta>
        </li>
        <li>
          <wm-cta full="true" contenteditable>
            <a href="#">
              Mit größtmöglicher Sicherheit in den Schulstart (3. September 2022)
            </a>
          </wm-cta>
        </li>
    </ul>
  </wm-quicklinks>
  </wm-section>
{% endexample %}

{% example 'In section mit Hintergrund' %}
<wm-section highlight="morgenrot">
  <wm-quicklinks cols="2">
    <ul>
        <li>
          <wm-cta full="true">
            <a href="#" contenteditable>
              Aktuelle Kennzahlen (20. November 2022)
            </a>
          </wm-cta>
        </li>
        <li>
          <wm-cta full="true">
            <a href="#" contenteditable>
              Tests in Schnupfen-Checkboxen (27. September 2022)
            </a>
          </wm-cta>
        </li>
        <li>
          <wm-cta full="true" contenteditable>
            <a href="#">
              Mit größtmöglicher Sicherheit in den Schulstart (3. September 2022)
            </a>
          </wm-cta>
        </li>
    </ul>
  </wm-quicklinks>
  </wm-section>
{% endexample %}

{% example 'Section in Card' %}
<wm-card>
  <h2 slot="heading">Quicklinks</h2>
  <wm-quicklinks slot="content">
      <ul>
          <li>
            <wm-cta full="true">
              <a href="#" contenteditable>
                Aktuelle Kennzahlen
              </a>
            </wm-cta>
          </li>
          <li>
            <wm-cta full="true">
              <a href="#" contenteditable>
                Tests in Schnupfen-Checkboxen
              </a>
            </wm-cta>
          </li>
          <li>
            <wm-cta full="true" contenteditable>
              <a href="#">
                Mit größtmöglicher Sicherheit
              </a>
            </wm-cta>
          </li>
      </ul>
    </wm-quicklinks>
  </wm-card>
{% endexample %}