---
title: Quicklinks
layout: pattern.njk
tags:
- patterns
token: 'quicklinks'
date: 2023-01-01
demo_options:
  - type: select
    label: Spalten
    attribute: cols
    key: cols
    options:
      - value: 1
        label: Einspaltig
        default: true
      - value: 2
        label: Zweispaltig
      - value: 3
        label: Dreispaltig
generator: true
examples: true
---