---
import { componentList } from "../componentList"
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <link rel="stylesheet" href="./wiener-melange/assets/css/base.min.css" />
    <link
      rel="stylesheet"
      href="./wiener-melange/assets/css/wiener-melange.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    {
      componentList.map((component) => (
        <script
          type="module"
          src={`./wiener-melange/assets/js/components/${component.title}/${component.title}.js`}
        />
      ))
    }
  </body>
</html>
<style is:global>
  body {
    margin: 0;
    padding: 0;
  }
</style>
