---
title: Badge
layout: pattern.njk
tags:
  - patterns
demo_options:
  - type: select
    label: Farbe
    key: color
    options:
      - value: success
        label: "Erfolg"
      - value: error
        label: "Fehler"
      - value: ""
        default: true
        label: "Standard"
    attribute: color
token: 'badge'
intro: '<p>Badges werden verwendet für…</p>'
date: 2023-01-01
examples: true
---