{% example 'Hinweis' %}
<wm-highlight color="goldgelb-light">
  <p>Bitte bringen Sie Ihre Anliegen nach Möglichkeit per Post, E-Mail, Fax oder telefonisch ein. Persönliche Vorsprachen in den Bezirksämtern sind derzeit <strong>nur mit Termin</strong> möglich.</p>
  <p>Um die Verbreitung des Coronavirus (COVID-19) zu verhindern, besteht in Amtshäusern die <strong>Pflicht</strong>, eine <strong>FFP2-Maske</strong> zu tragen.</p>
</wm-highlight>
{% endexample %}

