---
title: Status
layout: pattern.njk
tags:
- patterns
token: 'status'
date: 2023-01-01
demo_options:
  - type: select
    label: Bad
    attribute: bid
    key: prop1
    options_data: "baeder"
examples: true
---
